@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

@media screen and (max-device-width: 850px) {
  html, body {
    zoom: 0.5;
  }
}




/* Media query for iPhone landscape Safari */
@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* Adjust font size for body */
  body, span, p {
    font-size: 14px; /* Adjust as needed */
  }
}

/* Ensure the parent container of the image */
.icon-container {
  position: relative; /* Optional: Needed for child positioning */
  width: 70px; /* Adjust as necessary */
  height: auto; /* Adjust as necessary */
  flex-shrink: 0; /* Prevent shrinking */
  overflow: hidden; /* Ensure the image doesn’t overflow the container */
}

.user-icon {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: cover; /* Makes sure the image covers the area */
  display: block; /* Remove any inline gaps or extra space */
}

.group {
  padding: 0; /* Ensure no padding */
  margin: 0; /* Ensure no margin */
}

a {
  text-decoration: none; /* Ensure no underlining */
  padding: 0; /* Ensure no padding */
  margin: 0;
}

.menu-icon {
  min-width: 1.8rem;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.user-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.menu-title {
  line-height: normal;
  align-content: space-evenly;
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  height: 100%;
  left: 2.2rem;
}

.flex-grow {
  flex-grow: 1; /* Pushes the bottom section down */
}

/* General styling for menu group */
.menu-group {
  padding-top: 8px;
  padding: 20px;
  border-radius: 12px;
  position: relative; /* Needed to position the pseudo-element */
}

/* Styling for the selected menu group item */
.menu-group.selected {
  background-color: #F7F2FF;
}

/* Add the left vertical bar when selected */
.menu-group.selected::before {
  content: "";
  width: 5px;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #793BF2; /* Purple background for the left bar */
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;
  transition: all 0.2s;
}

.card {
  min-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 0.5rem;
  background: #FDFDFB;
  border: hsla(213, 8%, 79%, 0.432) 1px solid;
  padding: 1.2rem;
  margin-bottom: 5rem;
}

.content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.card-title {
  font-size: .97rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #000000;
}

.header-link {
  font-size: 1.1rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #000000;
}

.header-right {
  font-size: 1.1rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #000000;
}

.desc {
  margin-top: .5rem;
  margin-bottom: .8rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #000000;
}

.card-image {
  height: 100%;
  width: 100%;
}

.card-image img {
  width: inherit;
}

.close {
  margin: -0.375rem -0.375rem -0.375rem auto;
  height: 1.2rem;
  position: absolute;
  right: 2px;
  width: 2rem;
  display: inline-flex;
  border-radius: 0.5rem;
  color: #656D76;
  border: none;
}

.close svg {
  height: 1.25rem;
  width: 1.25rem;
}

.menu-arrow {
  position: absolute;
  z-index: 999;
  opacity: .2;
  right: 15px;
  top: 7rem;
  transition: transform 0.3s ease-in-out;
}



.input {
  width: 100%;
  height: 58px;
  padding-left: 2.8rem;
  font-size: .9rem;
  border: hsla(213, 8%, 79%, 0.432) 1px solid;
  border-radius: 12px;
  background-color: #f9f9f9;
  outline: none;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.sidebar-collapsed .search-icon {
  left: 50%;
  transform: translateX(-50%);
  width: 1.8rem;
  height: 1.8rem;
}

.input::placeholder {
  color: #656D76;
}

.input:active {
  transform: scale(0.95);
}

.search {
  margin-bottom: 1.2rem;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
  z-index: 1;
}


@media screen and (min-device-width: 1100px) {
  html, body {
    zoom: 0.9;
  }
}

@media screen and (min-device-width: 1500px) {
  html, body {
    zoom: 1.3;
  }
}

@media screen and (min-device-width: 4000px) {
  html, body {
    zoom: 1.7;
  }
}

#root {
  height: 100%;
}


/* Specify the style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  border-radius: 9999px; /* Set a high border-radius for rounded corners */
}


@layer base {
  body {
    @apply font-manrope font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer components {
}



@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .rotate-0 {
    transform: rotate(0deg);
  }
  
  .rotate-180 {
    transform: rotate(180deg);
  }
  
}

